body{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
}

.history{
    height: 100%;
    width:280px;
    background-color: rgb(241, 241, 241);
}
.history h1 {
    margin: auto;
    padding: 10px 0 25px 0;
    text-align: center;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
}

.body{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.arrow{
    position: absolute;
    top: 50%;
    /* background-color: lightblue; */
    color: grey;
    transform:rotate(180deg);
    padding: 10px 5px 10px 15px;
    font-size: 1.5em;
    cursor:pointer ;
    z-index: 100;
    /* transition: transform 0.2s ease; */
}


.header{
    width: 100%;
    height: 60px;
    background-color: rgba(194, 194, 194, 0.3);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.img{
    font-size: 1.5rem;
    padding: 5px 2px 5px 8px;
    margin: 0 10px;
    background-color: rgb(197, 197, 197);
    color: rgb(69, 69, 69);
    width: 40px;
    height: 40px;
    border-radius: 30%;
    cursor: pointer;
}

.middle{
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    display: flex;
}
.popbg{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color:tra;
}
.popup{
    position: absolute;
    top: 55px;
    right: 10px;
    z-index: 20;
}
.querybox {
    width: 95%;
    height: 100%;
    margin: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.querybox::-webkit-scrollbar {
    display: none;
}
.queryboxbg{
    width: 63%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(7px);
}
.footer{
    width: 100%;
    height: 100px;
}